<p style="color: green"><%= notice %></p>

<h1>Books</h1>

<div class="book-list">
  <% @books.each do |book| %>
    <%= render(BookCardComponent.new(book: book)) %>
    <p>
      <%= link_to "Show this book", book %>
    </p>
  <% end %>
</div>

<%= link_to "New book", new_book_path %>